# Exemplo de configuração de variáveis de ambiente do projeto
PORT=8000
DEBUG=True

# Credenciais de Exemplo (Valores sensíveis simulados)
DB_PASSWORD="senha_secreta_banco_dados_123"
GITHUB_TOKEN=ghp_exampleToken36CharsLongNotRealKey123
ACCESS_TOKEN="atk_9876543210fedcba9876543210"
